{{#> layout/layout }}
    <main class="main">
        <article class="main__content">
            <header class="content__header">
                <h1 class="content__header-title">Contact Us</h1>
                <p class="content__text">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
            </header>
            <div class="content__line-wrapper">
                <p class="content__line"></p>
            </div>
            <form class="feedback__form">
                <div class="feedback-form__entry-field-wrapper">
                    <input type="text" name="name" tabindex="1" class="feedback-form__entry-field-name" placeholder="Your name">
                    <input type="email" name="email" tabindex="2" class="feedback-form__entry-field-email" placeholder="Email">
                </div>
                <div class="registration-form__main-subject">
                    <input type="text" name="subject" tabindex="3" class="feedback-form__entry-field" placeholder="Subject">
                </div>
                <div class="registration-form__main-message">
                    <textarea name="message" tabindex="4" class="feedback-form__entry-field" placeholder="Your message"></textarea>
                </div>
                <div class="form__button-wrapper">
                    <button class="content__footer-button">Send message</button>
                </div>
            </form>
        </article>
    </main>
{{/layout/layout}}