<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
<div class="main">
    <div class="main__img">
        <img src="/Base2/src/images/image.png">
        <p class="p-adventures"> ADVENTURES</p>
        <p class="p-gallery">AWESOME GALLERY POST</p>
        <p class="p-january">JANUARY 19, 2016</p>
        <p class="p-read">READ MORE</p>
        <div class="comm"> <img class="icon" src="/Base2/src/images/Icon.png"><span class="span-text">02 COMMENT</span></div>

    </div>
</div>
</body>
</html>