<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contacts</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/contacts.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <a href="index.html">
                <img height="31" width="157" src="../images/PaloAlto.png" alt="logo"/>
            </a>
            <div class="header__nav-menu">
                <input type="checkbox" id="hmt" class="nav__menu-ticker">
                <label class="btn-menu" for="hmt">
                    <ul class="nav__menu">
                        <li class="nav__menu-item">
                            <a class="nav__link-normal" href="index.html">Home</a>
                        </li>
                        <li class="nav__menu-item">
                            <a class="nav__link-normal" href="#">About</a>
                        </li>
                        <li class="nav__menu-item">
                            <a class="nav__link-normal" href="#">Archive</a>
                        </li>
                        <li class="nav__menu-item">
                            <a class="nav__link-inactive" href="#">Contact</a>
                        </li>
                        <li class="nav__menu-item">
                            <a href="#"><img class="nav__link-normal" src="../images/search.png" alt="search"></a>
                        </li>
                    </ul>
                </label>
            </div>
        </nav>
    </header>
    <main class="main">
        <article class="main__content">
            <header class="content__header">
                <h1 class="content__header-title">Contact Us</h1>
                <p class="content__text">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
            </header>
            <div class="content__line-wrapper">
                <p class="content__line"></p>
            </div>
            <form class="feedback__form">
                <div class="feedback-form__entry-field-wrapper">
                    <input class="feedback-form__entry-field-name" placeholder="Your name">
                    <input class="feedback-form__entry-field-email" placeholder="Email">
                </div>
                <div class="registration-form__main-subject">
                    <input class="feedback-form__entry-field" placeholder="Subject">
                </div>
                <div class="registration-form__main-message">
                <textarea class="feedback-form__entry-field" placeholder="Your message"></textarea>
                </div>
                <div class="form__button-wrapper">
                    <button class="content__footer-button">Send message</button>
                </div>
            </form>
        </article>
    </main>
    <footer class="footer">
        <h2 class="footer__header">Palo Alto</h2>
        <ul class="footer__nav">
            <li class="footer__nav-item">
                <a class="nav__link-inactive" href="#">Home</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link-normal" href="#">About</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link-normal" href="#">Archive</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link-normal" href="#">Contact</a>
            </li>
            <li class="footer__nav-link-normal">
                <img class="footer__nav-search" src="../images/search-footer.png" alt="Search">
            </li>
        </ul>
        <p class="footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</p>
        <p class="footer__copyright">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <span><a class="footer__link-developer" href="#">PixelBuddha Team</a></span></p>
        <ul class="footer__social">
            <li class="social__item"><a class="social__link social__link_facebook" href="#"></a></li>
            <li class="social__item"><a class="social__link social__link_twitter" href="#"></a></li>
            <li class="social__item"><a class="social__link social__link_instagram" href="#"></a></li>
            <li class="social__item"><a class="social__link social__link_pinterest" href="#"></a></li>
        </ul>
    </footer>
</body>
</html>