<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <a href="index.html">
                <img height="31" width="157" src="../images/PaloAlto.png" alt="logo"/>
            </a>
            <div class="header__nav-menu">
                <input type="checkbox" id="hmt" class="nav__menu-ticker">
                <label class="btn-menu" for="hmt">
                <ul class="nav__menu">
                    <li class="nav__menu-item">
                        <a class="nav__link-inactive" href="#">Home</a>
                    </li>
                    <li class="nav__menu-item">
                        <a class="nav__link-normal" href="#">About</a>
                    </li>
                    <li class="nav__menu-item">
                        <a class="nav__link-normal" href="#">Archive</a>
                    </li>
                    <li class="nav__menu-item">
                        <a class="nav__link-normal" href="contacts.html">Contact</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="#"><img class="nav__link-normal" src="../images/search.png" alt="search"></a>
                    </li>
                </ul>
                </label>
            </div>
        </nav>
    </header>
    <main class="main">
        <article class="main__content">
            <header class="content__header">
                <div class="content__header-button-wrapper">
                    <button class="content__header-button">I Do Travel</button>
                </div>
                <h4 class="content__header-date">Sep 20</h4>
                <h1 class="content__header-title">No difference how many peaks you reach if there was no pleasure in the climb.</h1>
            </header>
            <div class="content__line-wrapper">
                <p class="content__line"></p>
            </div>
            <div class="content__texts">
                <p class="content__text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
            </div>
            <footer class="content_footer">
                <div class="content__footer-button-wrapper">
                    <button class="content__footer-button">Read more</button>
                </div>
                <ul class="content__tags">
                    <li class="tag">
                        <a class="tag__link" href="#">#Yosemite</a>
                    </li>
                    <li class="tag">
                        <a class="tag__link" href="#">#Peak</a>
                    </li>
                    <li class="tag">
                        <a class="tag__link" href="#">#Explorer</a>
                    </li>
                </ul>
            </footer>
        </article>
        <article class="main__content">
                <img class="content__header-photo-wrapper" width="956" height="531" src="../images/img.jpg" alt="Mountains"/>
            <header class="content__header">
                <div class="content__header-button-wrapper">
                    <button class="content__header-button">I Do Observe</button>
                </div>
                <h4 class="content__header-date">Sep 18</h4>
                <h1 class="content__header-title">You know, I'd rather argue with you, then laugh with anyone else.</h1>
            </header>
            <div class="content__texts">
                <p class="content__line"></p>
                <p class="content__note">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae. </p>
                <p class="content__text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
                <p class="content__text">Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.</p>
            </div>
            <footer class="content_footer">
                <div class="content__footer-button-wrapper">
                    <button class="content__footer-button">Read more</button>
                </div>
                <ul class="content__tags">
                    <li class="tag">
                        <a class="tag__link" href="#">#Yosemite</a>
                    </li>
                    <li class="tag">
                        <a class="tag__link" href="#">#Peak</a>
                    </li>
                    <li class="tag">
                        <a class="tag__link" href="#">#Photo</a>
                    </li>
                </ul>
            </footer>
        </article>
        <article class="main__content">
            <header class="content__header">
                <div class="content__header-button-wrapper">
                    <button class="content__header-button">I Do Reflect</button>
                </div>
                <h4 class="content__header-date">Sep 11</h4>
                <h1 class="content__header-title">Democracy means simply the bludgeoning of the people by the people for the people.</h1>
            </header>
            <div class="content__texts">
                <p class="content__line"></p>
                <img class="content__photo" src="../images/imgsec.jpg" alt="Statue">
                <p class="content__text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
                <p class="content__text">Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, <span class="content__text-span">vestibulum malesuada</span> justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquam quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.</p>
                <p class="content__note-min">Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.</p>
                <p class="content__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum.</p>
            </div>
            <footer class="content_footer">
                <div class="content__footer-button-wrapper">
                    <button class="content__footer-button">Read more</button>
                </div>
                <ul class="content__tags">
                    <li class="tag">
                        <a class="tag__link" href="#">#Democracy</a>
                    </li>
                    <li class="tag">
                        <a class="tag__link" href="#">#Introspection</a>
                    </li>
                </ul>
            </footer>
        </article>
    </main>
    <footer class="footer">
        <h2 class="footer__header">Palo Alto</h2>
        <ul class="footer__nav">
            <li class="footer__nav-item">
                <a class="nav__link-inactive" href="#">Home</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link-normal" href="#">About</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link-normal" href="#">Archive</a>
            </li>
            <li class="footer__nav-item">
                <a class="footer__nav-link-normal" href="#">Contact</a>
            </li>
            <li class="footer__nav-link-normal">
            <img class="footer__nav-search" src="../images/search-footer.png" alt="Search">
            </li>
        </ul>
        <p class="footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</p>
        <p class="footer__copyright">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <span><a class="footer__link-developer" href="#">PixelBuddha Team</a></span></p>
        <ul class="footer__social">
            <li class="social__item"><a class="social__link social__link_facebook" href="#"></a></li>
            <li class="social__item"><a class="social__link social__link_twitter" href="#"></a></li>
            <li class="social__item"><a class="social__link social__link_instagram" href="#"></a></li>
            <li class="social__item"><a class="social__link social__link_pinterest" href="#"></a></li>
        </ul>
    </footer>
</body>
</html>