.main {
    background:  url(../images/bgmain.png) left center no-repeat;
    height: 615px;
}

.main__img{
    padding-left: 30px;

}

.main__img-icon{
    position: relative;
    right: 210px;
    top:20px;
}

.p-adventures{
    padding-top: 30px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #999999;
    font-family: "Hind";
    padding-left: 120px;
}

.p-gallery{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #212121;
    font-family: "Montserrat";
    font-weight: bold;
    padding-left: 30px;
}

.p-january{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #999999;
    font-family: "Hind";
    padding-left: 100px;
}

.button-read{
    font-size: 14px;
    letter-spacing: 3px;
    color: #999999;
    font-family: "Hind", sans-serif;
    width: 150px;
    position: relative;
    padding: 1em;
    outline: none;
    border: none;
    margin-left: 80px;
    background: transparent;
}

.button-read:after{
    content: '';
    position: absolute;
    left: 58px;
    top: 40px;
    height: 1px;
    width: 30px;
    background-color: #999999;
}

.button-read:before{
    content: '';
    position: absolute;
    left: 58px;
    bottom: 45px;
    height: 1px;
    width: 30px;
    background-color: #999999;
}

.button-read:hover{
    color: #d67900;
}

.button-read:hover:after{
    background-color: #d67900;
}

.button-read:hover:before{
    background-color: #d67900;
}

.icon{
    padding-left: 30px;
    padding-right: 10px;
}

.span-text{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #999999;
    font-family: "Hind";
    text-align: center;
}

.comm{
    padding-top: 80px;
}