.main {
    background:  url(../images/bgmain.png) left center no-repeat;
    height: 615px;
}

.main__img{
    padding-left: 30px;

}

.p-adventures{
    padding-top: 30px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #999999;
    font-family: "Hind";
    padding-left: 120px;
}

.p-gallery{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #212121;
    font-family: "Montserrat";
    font-weight: bold;
    padding-left: 30px;
}

.p-january{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #999999;
    font-family: "Hind";
    padding-left: 100px;
}

.button-read{
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 24px;
    color: #999999;
    font-family: "Hind";
    width: 150px;
    position: relative;
    text-decoration: none;
    padding: 1em;
    outline: none;
    border: 0px;
    margin-left: 80px;
    background-color: white;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.button-read:hover{
    border-top: 1px solid #d67900;;
    border-bottom: 1px solid #d67900;;
}

.icon{
    padding-left: 30px;
    padding-right: 10px;
}

.span-text{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #999999;
    font-family: "Hind";
    text-align: center;
}

.comm{
    padding-top: 80px;
}