<header class="header">
    <nav class="header__nav">
        <a href="index.html">
            <img height="31" width="157" src="./images/PaloAlto.png" alt="logo"/>
        </a>
        <div class="header__nav-menu">
            <input type="checkbox" id="hmt" class="nav__menu-ticker">
            <label class="btn-menu" for="hmt">
                <ul class="nav__menu">
                    <li class="nav__menu-item">
                        <a class="nav__link-inactive" href="#">Home</a>
                    </li>
                    <li class="nav__menu-item">
                        <a class="nav__link-normal" href="#">About</a>
                    </li>
                    <li class="nav__menu-item">
                        <a class="nav__link-normal" href="#">Archive</a>
                    </li>
                    <li class="nav__menu-item">
                        <a class="nav__link-normal" href="contacts.html">Contact</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="#"><img class="nav__link-normal" src="./images/search.png" alt="search"></a>
                    </li>
                </ul>
            </label>
        </div>
    </nav>
</header>