<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
<div class="header">
    <ul class="nav">
        <li class="nav__item nav__logo">
            Palo Alto
        </li>
        <li class="nav__item">
            <a href="#"><img class="nav__link-search" src="../images/search.png" alt="Image not found"></a>
        </li>
        <li class="nav__item">
            <a class="nav__link-home" href="#">Contact</a>
        </li>
        <li class="nav__item">
            <a class="nav__link-about" href="#">Archive</a>
        </li>
        <li class="nav__item">
            <a class="nav__link-archive" href="#">About</a>
        </li>
        <li class="nav__item">
            <a class="nav__link-contact" href="#">Home</a>
        </li>
    </ul>
</div>
<div class="main">
    <div class="main-content">
        <ul class="main-ul">
            <li class="main-li">
                <button class="main-button__violet">I Do Travel</button>
                <p class="main-date">Sep 20</p>
                <p class="main-header">No difference how many peaks you reach if there was no pleasure in the climb.</p>
                <p class="main-line"></p>
                <p class="main-text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
                <button class="main-button__read">Read more</button>
                <span>
                    <a class="main-tag" href="#">#Yosemite</a>
                    <a class="main-tag" href="#">#Peak</a>
                    <a class="main-tag" href="#">#Explorer</a>
                </span>
            </li>
            <img class="main-img" src="../images/img.jpg" alt="Image not found">
            <li class="main-li">
                <button class="main-button__violet">I Do Observe</button>
                <p class="main-date">Sep 18</p>
                <p class="main-header">You know, I'd rather argue with you, then laugh with anyone else.</p>
                <p class="main-line"></p>
                <p class="main-text-note">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae. </p>
                <p class="main-text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
                <p class="main-text">Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.</p>
                <button class="main-button__read">Read more</button>
                <span>
                    <a class="main-tag" href="#">#Yosemite</a>
                    <a class="main-tag" href="#">#Peak</a>
                    <a class="main-tag" href="#">#Photo</a>
                </span>
            </li>
            </li>
            <li class="main-li">
                <button class="main-button__violet">I Do Reflect</button>
                <p class="main-date">Sep 11</p>
                <p class="main-header">Democracy means simply the bludgeoning of the people by the people for the people. </p>
                <p class="main-line"></p>
                <img class="main-img__statue" src="../images/imgsec.jpg" alt="Image not found">
                <p class="main-text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
                <p class="main-text">Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, <span class="main__text-span">vestibulum malesuada</span> justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquam quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.</p>
                <p class="main-text-note-min">Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.</p>
                <p class="main-text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum. </p>

                <button class="main-button__read">Read more</button>
                <span>
                    <a class="main-tag" href="#">#Democracy</a>
                    <a class="main-tag" href="#">#Introspection</a>
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="footer">
    <h2 class="footer__header">Palo Alto</h2>
    <ul class="footer__nav">
        <li class="footer__nav-item">
            <a class="nav__link-home" href="#">Home</a>
        </li>
        <li class="footer__nav-item">
            <a class="footer__nav-link-about" href="#">About</a>
        </li>
        <li class="footer__nav-item">
            <a class="footer__nav-link-archive" href="#">Archive</a>
        </li>
        <li class="footer__nav-item">
            <a class="footer__nav-link-contact" href="#">Contact</a>
        </li>
        <li class="footer__nav-item">
            <a href="#"><img class="footer__nav-search" src="../images/search-footer.png" alt="Image not found"></a>
        </li>
    </ul>
    <p class="footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</p>
    <p class="footer__copyright">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <span><a class="footer__link-developer">PixelBuddha Team</a></span></p>
    <img class="footer__icon" src="../images/facebook.png" alt="facebook">
    <img class="footer__icon" src="../images/twitter.png" alt="twitter">
    <img class="footer__icon" src="../images/instagram.png" alt="instagram">
    <img class="footer__icon" src="../images/pinterest.png" alt="pinterest">
</div>
</body>
</html>