body {
    margin: 0;
    background-color: #f7f9fc;
    font-family: "Lato", sans-serif;
}

.header {
    margin: 80px 0 0 220px;
}

.nav {
    padding: 0;
    margin: 0;
    list-style: none;
    }

.nav__item {
    display: inline;
}

.nav__item:first-child {
    margin-right: 350px;
}


.nav__logo{
    font-size: 42px;
    line-height: 25px;
    color: #333333;
    font-weight: bold;
    font-style:  italic;
}

.nav__link-search{

}

.nav__link-search:hover{
    background: url(../images/search-hover.png);
}

.nav__link-home {
    margin-right: 40px;
    font-size: 16px;
    color: #bdbdbd;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    font-style:  normal;
    pointer-events: none;
}


.nav__link-about {
    margin-right: 40px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    font-style:  normal;
}

.nav__link-archive {
    margin-right: 40px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    font-style:  normal;
}

.nav__link-archive:after {
    content: '';
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    height: 3px;
    width: 0;
    background-color: #5c6bc0;
    transition: width 0.7s linear;
}

.nav__link-archive:hover:after {
    width: 100%;
}

.nav__link-contact {
    margin-right: 40px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    font-style:  normal;
}

.nav__link-contact:active {
    color: #5c6bc0;
}

.main {
    margin: 0;
}

.main-content{
    margin: 80px 0 0 220px;
}

.main-ul{
    position: relative;
    padding: 0;
    list-style-type: none;
}

.main-li{
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 855px;
    height: 100%;
    padding-left: 100px;
    padding-bottom: 75px;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 50px;
    color: #bdbdbd;
    position: relative;
}

.main-img{
    position: relative;
    top: 5px;

}

.main-img:hover{
    background: url(../images/img-hover.jpg);
}


.main-button__violet{
    display:block;
    position: absolute;
    margin-left: 770px;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background-color: #5c6bc0;
    border: none;
    outline: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}


.main-button__violet:hover{
    position: absolute;
    height: 35px;
    background-color: #6b79c6;
}

.main-button__violet:active{
    width: 100px;
    height: 35px;
    background-color: #5c6bc0;
}

.main-date{
    padding-top: 40px;
    margin: 0;
    font-weight: bold;
}

.main-header{
    margin: 0;
    width: 759px;
    height: 140px;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
}

.main-line{
    margin: 0;
    width: 756px;
    height: 2px;
    background-color: #eeeeee;
}

.main-text-note{
    font-size: 25px;
    width: 757px;
    line-height: 38px;
    color: #7f7f7f;
    font-style: italic;
}

.main-text-note-min{
    font-size: 20px;
    width: 757px;
    line-height: 30px;
    color: #7f7f7f;
    padding-left: 30px;
    position: relative;
    font-weight: normal;
}

.main-text-note-min:after {
    content: '';
    position: absolute;
    left: 5px;
    top: calc(100% - 55px);
    height: 55px;
    width: 4px;
    background-color: #eeeeee;
    transition: width 0.7s linear;
}

.main-text{
    margin-top: 25px;
    width: 757px;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
}


.main-button__read {
    position: absolute;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: none;
    font-size: 21px;
    line-height: 50px;
    color: #5c6bc0;
    font-weight: bold;
    margin-top: 12px;
}

.main-button__read:hover {
    position: absolute;
    border: 1px solid #f1f1f1;
}

.main-button__read:active {
    position: absolute;
    border: 1px solid #7c89cc;
}

.main-tag{
    font-size: 15px;
    line-height: 50px;
    color: #b3b3b3;
    margin-top: 20px;
    text-align: right;
    margin-right: 10px;
    text-decoration: none;
    position: relative;
    font-weight: 400;
}

.main-tag:first-child{
    margin-left: 560px;
}

.main-tag:after{
    content: '';
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    height: 1px;
    width: 0;
    background-color: #5c6bc0;
    transition: width 0.7s linear;
}

.main-tag:hover:after {
    width: 100%;
}

.main-tag:hover{
    color: #5c6bc0;
}

.main-tag:active{
    text-decoration: none;
    color: #5c6bc0;
}

.main-img__statue{
    float: left;
    margin: 25px 10px 20px 0;
}

.main__text-span{
    color: #5c6bc0;
    position: relative;
}

.main__text-span:after {
    position: absolute;
    content: '';
    left: 0;
    height: 1px;
    width: 160px;
    top: 20px;
    background: #5c6bc0;
}

.footer {
    margin-top: 120px;
    width: 100%;
    height: 530px;
    background-color: #5c6bc0;
    text-align: center;

}

.footer__header {
    padding-top: 65px;
    font-size: 36px;
    line-height: 25px;
    color: #4a569a;
    font-weight: bold;
    font-style: italic;
}

.footer__nav{
    padding: 25px 0 0 0;
    margin: 0;
    list-style: none;
}

.footer__nav-item {
    display: inline-block;
    font-weight: 700;
}

.footer__nav-item:first-child {
    padding-left: 0;
}

.footer__nav-link-about{
    margin-right: 40px;
    font-size: 16px;
    color:  #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-style:  normal;
}

.footer__nav-link-archive{
    margin-right: 40px;
    font-size: 16px;
    color:  #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-style:  normal;
}

.footer__nav-link-archive:after {
    content: '';
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    height: 3px;
    width: 0;
    background-color: #ffffff;
    transition: width 0.7s linear;
}

.footer__nav-link-archive:hover:after {
    width: 100%;
}

.footer__nav-link-contact {
    margin-right: 40px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-style:  normal;
}

.footer__nav-link-contact:active {
    color: #ffffff;
}

.footer__nav-search{
    width: 15px;
    height: 18px;
}

.footer__text{
    color: #959ed6;
    font-size: 13px;
    line-height: 23px;
    margin-top: 80px;
    position: relative;
}

.footer__text:after{
    content: '';
    position: absolute;
    top: calc(100% - 50px);
    left: 2px;
    height: 2px;
    width: 750px;
    background-color: #5765b5;
    margin-left: 305px;

}

.footer__text:before{
    content: '';
    position: absolute;
    top: calc(100% + 50px);
    left: 2px;
    height: 2px;
    width: 700px;
    background-color: #5765b5;
    margin-left: 305px;
}

.footer__copyright{
    font-size: 14px;
    line-height: 30px;
    color: #959ed6;
    margin-top: 75px;
}

.footer__icon{
    margin: 15px 0 0 12px;
    padding: 8px 8px 8px 8px;
}

.footer__icon:hover{

    background: #5360ac;
}

.footer__link-developer{
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
}

.footer__link-developer:after{
    content: '';
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    height: 1px;
    width: 0;
    background-color: #ffffff;
    transition: width 0.7s linear;
}

.footer__link-developer:hover:after{
    width: 100%;
}

.footer__nav-link-about{
    margin-right: 40px;
    font-size: 16px;
    color:  #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-style:  normal;
}