body {
    margin: 0;
    background-color: #f7f9fc;
    font-family: "Lato", sans-serif;
}

.header {
    max-width: 950px;
    width: 100%;
    margin: auto;
    padding: 80px 0;
}

.nav__menu-ticker {
    display: none;
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.nav__menu {
    padding: 0;
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
}

.nav__menu-item{
    padding: 0 17px;
}


.nav__link-search{
float:right;
}

.nav__link-search:hover{
background: url(../images/search-hover.png);
}

.nav__link-inactive {
    font-size: 16px;
    color: #bdbdbd;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    font-style:  normal;
    pointer-events: none;
    float: right;
}


.nav__link-normal{
    font-size: 16px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    font-style:  normal;
    float: right;
}

.nav__link-normal:after {
    content: '';
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    height: 3px;
    width: 0;
    background-color: #5c6bc0;
    transition: width 0.7s linear;
}

.nav__link-normal:hover:after {
    width: 100%;
}

.nav__link-normal:active {
color: #5c6bc0;
}


.main {
    display: flex;
    margin: 0 auto;
    flex-direction:column;
    max-width: 950px;
}

.main__content {
    max-width: 956px;
    width: 100%;
    margin: 0 auto 45px auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    font-size: 14px;
    line-height: 50px;
    color: #bdbdbd;
    box-sizing: border-box;
    /*display: flex;*/
    /*flex-direction:column;*/
}

.content__header{
    margin-top: 20px;
    padding: 0 100px;
    margin-bottom: 45px;
    display: flex;
    flex-direction:column;
}

.content__header-photo-wrapper {
    width: 100%;
    height: 100%;
}


.content__header-button-wrapper {
    display: flex;
    align-self: flex-end;
}

.content__header-button {
    width: 100px;
    height: 30px;
    background-color: #5c6bc0;
    border: none;
    outline: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}


.content__header-button {
    position: absolute;
    height: 35px;
    background-color: #6b79c6;

}

.content__header-button:active {
    width: 100px;
    height: 35px;
    background-color: #5c6bc0;
}

.content__header-title {
    margin: 0;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
}

.content__line-wrapper {
    padding: 0 100px;
}
.content__line {
    max-width: 756px;
    width: 100%;
    border-bottom: solid #eeeeee 2px;
}

.content__note {
    font-size: 25px;
    line-height: 38px;
    color: #7f7f7f;
    font-style: italic;
}

.content__note-min{
    font-size: 20px;
    line-height: 30px;
    color: #7f7f7f;
    padding-left: 30px;
    position: relative;
    font-weight: normal;
}

.content__note-min:after {
    content: '';
    position: absolute;
    left: 5px;
    top: calc(100% - 55px);
    height: 55px;
    width: 4px;
    background-color: #eeeeee;
    transition: width 0.7s linear;
}


.content__texts {
    padding: 0 100px;
    margin-top: 40px;
}

.content__text {
    font-size: 17px;
    line-height: 30px;
    color: #333333;
}

.content__photo {
    float: left;
    margin: 25px 10px 20px 0;
}

.content_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
    padding: 0 100px;
}


.content__footer-button {
    position: relative;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: none;
    font-size: 21px;
    line-height: 50px;
    color: #5c6bc0;
    font-weight: bold;
    cursor: pointer;

}

.content__footer-button:hover{
    position: absolute;
    border: 1px solid #f1f1f1;
}

.content__footer-button:active {
    position: absolute;
    border: 1px solid #7c89cc;
}

.content__footer-button-wrapper {
    display: flex;
}
.content__tags {
    width: 80%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.content__text-span{
    color: #5c6bc0;
    position: relative;
    }

.content__text-span:after {
    position: absolute;
    content: '';
    left: 0;
    height: 1px;
    width: 160px;
    top: 20px;
    background: #5c6bc0;
}

.tag {
    padding-right: 10px;
}

.tag__link {
    text-decoration: none;
    font-size: 15px;
    line-height: 50px;
    color: #b3b3b3;
    font-weight: 400;
}

.tag__link:active {
    color: #5c6bc0;
}

.footer {
    margin-top: 120px;
    padding-bottom: 50px;
    width: 100%;
    max-height: 530px;
    height: 100%;
    background-color: #5c6bc0;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.footer__header {
    padding-top: 65px;
    font-size: 36px;
    line-height: 25px;
    color: #4a569a;
    font-weight: bold;
    font-style: italic;
}

.footer__nav{
    padding: 25px 0 0 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer__nav-item {
    font-weight: 700;
}


.footer__nav-link-normal{
    padding-left: 40px;
    font-size: 16px;
    color:  #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-style:  normal;
}


.footer__nav-search{
    width: 15px;
    height: 18px;
}

.footer__text{
    color: #959ed6;
    font-size: 13px;
    line-height: 23px;
    margin-top: 80px;
    position: relative;
    max-width: 750px;
    align-content: center;
    padding: 20px 0;
    border-bottom: solid #5765b5 2px;
    border-top: solid #5765b5 2px;
    align-self: center;
}

.footer__copyright{
    font-size: 14px;
    line-height: 30px;
    color: #959ed6;
    margin-top: 75px;
}

.footer__link-developer{
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
}

.footer__social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social__item {
    padding: 5px;
    margin-right: 15px;
}

.social__link {
    display: inline-block;
    height: 22px;
    width: 22px;
}

.social__link_facebook {
    background: url("../images/facebook.png") no-repeat center;
    background-size: 22px 22px;
}

.social__link_twitter {
    background: url("../images/twitter.png") no-repeat center;
    background-size: 22px 22px;
}

.social__link_instagram {
    background: url("../images/instagram.png") no-repeat center;
    background-size: 22px 22px;
}

.social__link_pinterest {
    background: url("../images/pinterest.png") no-repeat center;
    background-size: 22px 22px;
}

@media screen and (max-width: 480px) {
    .header {
        width: calc(100% - 60px);
        margin: 10px 60px;
        position: relative;
    }

    .nav__menu {
        display: block;
        position: absolute;
        list-style:none;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        width: 200px;
        top: 0;
        right: -200px;
        background-color: #fff;
    }

    .nav__menu-ticker {
        display: none;
    }

    .btn-menu {
        color: #fff;
        background-color: #5765b5;
        padding: 5px;
        position: fixed;
        top: 5px;
        right: 5px;
        cursor: pointer;
        transition: left .23s;
        width: 25px;
        -webkit-backface-visibility: hidden;
    }

    .nav__menu-ticker:checked ~ .btn-menu {
        right: 160px;
    }
    .nav__menu-ticker:checked ~ .hidden-menu {
        right: 0;
    }

    .nav__menu-item {
        display: flex;
        padding: 2px 0;
        /*max-width: 100px;*/
        /*width: 100%;*/
        margin: 0;
    }

}

@media screen and (max-width: 320px) {
    .footer{
        width: calc(100% - 10px);
    }

    .footer__nav {
        display: flex;
        flex-direction: column;

    }
}


